# Kopyala: /etc/esnafdijital/workspace-github-sync.env
# SSH tercih edilir. Örnek:
# GITHUB_REPO_URL=git@github.com:KULLANICI/REPO.git
# SSH_KEY_PATH=/root/.ssh/esnafdijital_workspace_github
# GIT_REMOTE_NAME=origin
# GIT_BRANCH=master
# AUTO_PUSH_ENABLED=1

GITHUB_REPO_URL=
SSH_KEY_PATH=/root/.ssh/esnafdijital_workspace_github
GIT_REMOTE_NAME=origin
GIT_BRANCH=master
AUTO_PUSH_ENABLED=1
